version: "3"
env:
  GITHUB_TOKEN:
    sh: gh auth token
tasks:
  trigger-workflow:
    desc: Trigger GitHub Actions workflow using Act
    cmds:
      - |
        act workflow_dispatch \
          --container-architecture linux/amd64 \
          -s GITHUB_TOKEN="{{.GITHUB_TOKEN}}" \
          -e {{.PWD}}/event.json \
          -P ubuntu-24.04=catthehacker/ubuntu:act-24.04 \
          --directory ../../.. \
          -W .github/workflows/build-push.yaml
  trigger-workflow-tag:
    desc: Trigger GitHub push tag Actions workflow using Act
    cmds:
      - |
        act push \
          --container-architecture linux/amd64 \
          -s GITHUB_TOKEN="{{.GITHUB_TOKEN}}" \
          -e {{.PWD}}/push-tag-event.json \
          -P ubuntu-24.04=catthehacker/ubuntu:act-24.04 \
          --directory ../../.. \
          --no-skip-checkout \
          -W .github/workflows/build-push.yaml
