name: Update GitOpManifest

on:
  workflow_dispatch:
    inputs:
      service:
        required: true
        description: path to service in repo
        type: choice
        options:
          - services/go/api-golang
          - services/node/api-node
          - services/python/load-generator-python
          - services/react/client-react
      version:
        required: true
        description: version to deploy
        type: string
      environment:
        required: true
        description: environment to deploy to
        type: choice
        options:
          - development
          - staging
          - production

jobs:
  update-manifests:
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683
      - name: Install task
        uses: ./.github/actions/setup-dependencies
      - name: Update manifests
        working-directory: ${{ inputs.service}}
        run: |
          task utils:update-image-tags-service \
            NEW_TAG=${{ inputs.version }} \
            ENVIRONMENT=${{ inputs.environment }}
      - name: check diff
        run: |
          git diff
